* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-family: "Microsoft YaHei"
}

table {
    margin: 0;
    padding: 0;
}

a.btn_:hover {
    text-decoration: none;
    background: #F0F1F4;
}

.content {
    padding-top: 10px;
}

/*清除浮动*/
.clear {
    clear: both;
}

#cmdb_header {
    font-size: 16px;
    font-weight: bold;
    color: #333;
    background: #fff;
}

#main {
    width: 100%;
    margin: 0 auto;
    background: #fff;
}

#header {
    font-size: 16px;
    color: #333;
    line-height: 28px;
    font-weight: bold;
}

#header .btn_box {
    width: 242px;
    float: right;
}

#header .btn_box .btn_ {
    float: left;
    width: 80px;
    font-size: 12px;
    font-weight: normal;
    line-height: 30px;
    color: #333;
    text-align: center;

}

/*统计图*/
#Statistical .chart_title {
    font-size: 14px;
    color: #333;
    padding: 8px 0 0 20px;
    margin-bottom: -6px;
}

#Statistical .chart_title i {
    float: left;
    width: 2px;
    height: 14px;
    background: #333;
    margin-top: 11px;
    margin-right: 6px;
}

#Statistical .chart_title span {
    font-size: 14px;
    line-height: 260%;
    font-weight: bold;
}

.chart_box {
    float: left;
}

.chart_info_box {
    border: 1px solid #91C7AE;
    width: 46%;
    float: left;
    margin-right: 2%;
    margin-top: 14px;
    padding-bottom: 3%;
}

.chart_info2, .chart_info4 {
    margin-right: 0
}

.chart_info_box h6 {
    font-weight: normal;
    font-size: 12px;
    margin-top: 10px;
    margin-left: 10px;
}

.chart_info_box .my_chart {
    width: 100%;
    height: 286px;
    margin-top: -48px;
}

.chart_info_box .my_chart div:first-of-type {
    width: 100% !important;
    max-width: 280px;
    max-height: 280px;
    margin: 0 auto !important;
}

canvas {
    width: 100% !important;
}

/*右边操作记录*/
#event {
    float: left;
}

#event .title {
    font-size: 14px;
    font-weight: normal;
}

#event .title i {
    float: left;
    width: 2px;
    height: 16px;
    margin: 1px 6px 0 0;
    background: #333;
}

#event .title span {
    float: left;
    font-weight: bold;
}

#event .title .whole {
    float: right;
    font-size: 12px;
    color: #fff;
    background: rgb(44, 59, 65);
    background: rgba(0, 0, 0, .6);
    font-weight: normal;
    width: 82px;
    text-align: center;
    line-height: 23px;
    border-radius: 5px;
    margin-bottom: 10px;
}

#event .log {
    width: 100%;
    text-align: left;
    font-size: 12px;
    color: #333;
    line-height: 20px;
    border-bottom: 1px solid #CFCFCF;
    height: 258px;
    overflow: hidden;
}

#event .log td {
    padding-left: 12px;
}

#event .log .log_title {
    font-size: 14px;
    line-height: 24px;
    background: rgb(44, 59, 65);
    color: #fff;
    width: 100%;
    margin-bottom: 6px;
}

#event .log .text_ {
    width: 100%;
    line-height: 22px;
}

#event .log .text_:first-og-type {

}

#event .log a {
    display: block;
    height: 22px;
    color: #333;
}

#event .log a span {
    float: left;
    font-weight: normal;
    font-size: 12px;
}

#event .log .log_hot:hover {
    background: #ccc;
}

/*重大事件*/
#event .title2, #event .title3 {
    font-size: 14px;
    color: #333;
    font-weight: bold;
    padding-top: 14px;

}

#event .title2 i, #event .title3 i {
    float: left;
    width: 2px;
    height: 16px;
    background-color: #333;
    margin-right: 6px;
    margin-top: -1px;
}

#event .import .import_title {
    height: 24px;
    margin-top: 0
}

#event .import td {
    padding-left: 12px;
}

#event .import .import_hot:hover {
    background: #ccc;
}

#event .import {
    width: 100%;
    text-align: left;
    font-size: 12px;
    color: #333;
    height: 94px;
    overflow: hidden;
    padding-bottom: 6px;
    border-bottom: 1px solid #333;

}

#event .import .import_title {
    font-size: 14px;
    line-height: 24px;
    background: rgb(44, 59, 65);
    color: #fff;
    width: 100%;
    border-bottom: 6px solid #fff;
}

#event .import_hot {
    height: 22px !important;
}

/*统计报告*/
#repot_chart {
    height: 150px;
}

/**/
@media (max-width: 1200px) {
    .chart_box {
        padding-left: 8%;
        padding-right: 8%;
    }
}

/* add css for file cmdb_index_2.html */
.c-bg1 {
    background: #83E093;
    color: white;
    box-shadow: 1px 0 10px 1px rgba(0, 0, 0, 0.1);
}

.c-bg2 {
    background: #5CC5EB;
    color: white;
    box-shadow: 1px 0 10px 1px rgba(0, 0, 0, 0.1);
}

.c-bg3 {
    background: #AA94D9;
    color: white;
    box-shadow: 1px 0 10px 1px rgba(0, 0, 0, 0.1);
}

.small-box {
    height: 130px;
    color: white;
}

.small-box .div-img {
    height: 100%;
    width: 30%;
    font-size: 45px;
    text-align: center;
    line-height: 130px;
    background: rgba(70, 70, 70, 0.1);
    position: relative;
}

.small-box .div-text {
    width: 65%;
    height: 100%;
    text-align: center;
}

.small-box .div-text p {
    font-size: 24px;
    margin-top: 18px;
}

.small-box .div-text h4.findall {
    font-size: 16px;
    text-align: right;
    color: #fff;
    margin-top: -10px;
}

.small-box .div-text h3 span {
    font-size: 16px;
    margin-left: 5px;
}

.div-img .today-icon {
    line-height: 130px;
}

.div-img .icon1 {
    background: url(../../img/cmdb/today-icon3.png) no-repeat;
}

.div-img .icon3 {
    background: url(../../img/cmdb/today-icon1.png) no-repeat;
}

.div-img .icon4 {
    background: url(../../img/cmdb/today-icon4.png) no-repeat;
}

.fl {
    float: left !important;
}

/* 主机分布统计 */
.citymap-label {
    position: absolute;
}

.c-host-wapper {
    position: relative;
    background: white;
    padding: 10px 25px 10px 25px;
    box-shadow: 1px 0 10px 1px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    border-radius: 3px;
}

.c-host-area {
    background: white;
    margin-bottom: 20px;
}

.Rmap-tip {
    border: #c5b270 1px solid;
    background: #fffbd6;
    color: #bb861c;
    line-height: 25px;
    padding: 0 5px;
}

.mapadd, .mapminus, .mapcolor {
    width: 24px;
    height: 24px;
    cursor: hand;
    background: url("../img/color.png") center center no-repeat;
    border: 1px solid #eeeeee;
    margin-top: 6px;
}

.mapminus {
    background: url("../../img/cmdb/minus.png") center center no-repeat;
}

.mapadd {
    background: url("../../img/cmdb/add.png") center center no-repeat;
}

/* 操作记录 */
.c-host-opt {
    height: auto;
    background: white;
    margin-bottom: 20px;
    padding: 10px 20px 10px 25px;
    box-shadow: 1px 0 10px 1px rgba(0, 0, 0, 0.1);
    border-radius: 3px;
}

.c-host-opt .opt-img {
    height: 30px;
}

.opt-item {
    padding-right: 15px;
    padding-bottom: 20px;
}

.opt-item .opt-info img {
    border: 1px solid #f5f5f5;
    border-radius: 150px !important;
    height: 50px;
    width: 50px;
    margin-right: 15px;
}

.opt-item .opt-info {
    overflow: hidden;
    margin-bottom: 10px;
}

.opt-item .opt-info span {
    display: block;
}

.opt-item span.opt-name, .opt-item span.opt-stat {
    color: #337ab7;
    font-size: 14px;
    font-weight: 300;
    margin: 13px 0 7px;
}

.opt-item span.opt-name small {
    color: #666;
}

.opt-item .opt-stat {
    padding-right: 5px;
}

.opt-item .well {
    margin-bottom: 0;
}

/* 操作记录 时间轴 */
.timeline-simple-wrap p, .timeline-simple-wrap .timeline-simple-date {
    color: #666 !important;
}

.opt-box .info-title {
    font-size: 14px;
    overflow-y: auto;
}

.opt-box .info-text {
    background: #E7F4FB;
    color: #1F90D1;
    padding-left: 5px;
    padding-right: 5px;
}

.opt-box .info-time {
    margin-top: -7px;
    color: #666;
}

.king-timeline-simple {
    float: left;
    width: 100%;
    margin: 0px;
    padding: 0px;
    list-style: none;
}

.king-timeline-simple li {
    float: left;
    width: 100%;
    position: relative;
    padding: 0 0px 15px;
    padding-left: 50px !important;
}

.king-timeline-simple li:before {
    content: " ";
    position: absolute;
    height: 100%;
    width: 3px;
    background: #e7ebf1;
    left: 25px;
    top: 0px;
    z-index: 1;
}

.king-timeline-simple li:after {
    content: " ";
    position: absolute;
    z-index: 2;
    width: 15px;
    height: 15px;
    border: 2px solid #FFF;
    -webkit-border-top-right-radius: 50%;
    -webkit-border-bottom-right-radius: 0;
    -webkit-border-bottom-left-radius: 0;
    -webkit-border-top-left-radius: 0;
    -moz-border-radius-topright: 50%;
    -moz-border-radius-bottomright: 0;
    -moz-border-radius-bottomleft: 0;
    -moz-border-radius-topleft: 0;
    border-top-right-radius: 50%;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    -moz-background-clip: padding-box;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background: #e7ebf1;
    left: 19px;
    top: 15%;
    margin-top: -7.5px;
}

.king-timeline-simple li .timeline-simple-date {
    display: inline-block;
    width: 100%;
    margin-bottom: 5px;
    font-size: 11px;
    color: #999999;
}

.king-timeline-simple li .timeline-simple-wrap {
    position: relative;
    float: left;
    padding: 10px;
    width: 95%;
    border: 1px solid #ddd;
    -webkit-border-top-right-radius: 5px;
    -webkit-border-bottom-right-radius: 0;
    -webkit-border-bottom-left-radius: 0;
    -webkit-border-top-left-radius: 0;
    -moz-border-radius-topright: 5px;
    -moz-border-radius-bottomright: 0;
    -moz-border-radius-bottomleft: 0;
    -moz-border-radius-topleft: 0;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    -moz-background-clip: padding-box;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    background: #FFF;
    position: relative;
    -webkit-transition: all 200ms ease;
    -moz-transition: all 200ms ease;
    -ms-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease;
}

.king-timeline-simple li .timeline-simple-wrap:after, .king-timeline-simple li .timeline-simple-wrap:before {
    right: 100%;
    top: 15%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    -webkit-transition: all 200ms ease;
    -moz-transition: all 200ms ease;
    -ms-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease;
}

.king-timeline-simple li .timeline-simple-wrap:after {
    border-color: rgba(255, 255, 255, 0);
    border-right-color: #FFF;
    border-width: 5px;
    margin-top: -5px;
}

.king-timeline-simple li .timeline-simple-wrap:before {
    border-color: rgba(221, 221, 221, 0);
    border-right-color: #ddd;
    border-width: 6px;
    margin-top: -6px;
}

.king-timeline-simple li.info:after {
    background: #A5D6A7 !important;
}

.king-timeline-simple li.info .timeline-simple-wrap {
    background: #F5F5F5;
    border-color: #F5F5F5;
    color: #333333;
}

.king-timeline-simple li.info .timeline-simple-wrap .timeline-simple-date {
    color: #333;
    left: 0;
    position: absolute;
    top: 0px;
    text-align: right;
    padding-right: 10px;
    padding-top: 10px;
}

.king-timeline-simple li.info .timeline-simple-wrap:after, .king-timeline-simple li.info .timeline-simple-wrap:before {
    border-right-color: #F5F5F5;
}

.item:after {
    content: '';
    display: block;
    clear: both;
}

.info-box-icon {
    color: #333;
}

.div-text {
    color: #333;
}
.index-app .chart-box{
    padding:0
}

