{% extends 'layout/base.html' %}
{% block extra_css %}
    <link rel="stylesheet" href="/static/css/monitor/host-groups.css">
    <link rel="stylesheet" href="/static/js/libs/bootstrap-datetimepicker/2.3.11/css/bootstrap-datetimepicker.css">
{% endblock %}
{% block extra_js %}
    require(["src/monitor/monitor"], function(monitor) {
        monitor.triggerHostGroups()
    });
{% endblock %}
{% block content-header %}
    <ol class="breadcrumb">
        <li><a href="{% url 'monitor_index' %}"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a href="{% url 'monitor_index' %}"><i class="fa fa-eye"></i> 监控</a></li>
        <li class="active">主机分组管理</li>
    </ol>
{% endblock %}
{% block content %}
    <section class="content host-groups-app space-40">
        <div class="row">
            <div class="col-md-12">
                <div class="box box-info">
                    <div class="box-header with-border">
                        <h3 class="box-title">搜索主机</h3>
                    </div>
                    <form class="form-horizontal" id="search-form">
                        <div class="box-body">

                            <div class="col-md-6 col-sm-6 height-40">
                                <label class="col-sm-3">主机名:</label>
                                <div class="col-sm-9">
                                    <input name="host-name" type="text" class="form-control input-radius" placeholder="对主机名称或可见名称进行模糊搜索">
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-6 height-40">
                                <label class="col-sm-3">IP地址:</label>
                                <div class="col-sm-9">
                                    <input name="ip" type="text" class="form-control input-radius" placeholder="IP地址模糊搜索">
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-6 height-40">
                                <label class="col-sm-3">主机状态:</label>
                                <div class="col-sm-9">
                                    <select class="form-control input-radius" name="status">
                                        <option value="">所有</option>
                                        <option value="1">可用</option>
                                        <option value="2">不可用</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-6 height-40">
                                <label for="event-start-time" class="col-sm-3">起始时间:</label>
                                <div class="input-group date issue-time col-sm-9 padding-lr-16" data-date-format="yyyy-mm-dd hh:ii:ss" data-link-field="event-start-time">
                                    <input class="form-control input-radius" size="16" type="text" value="" name="issue-time" readonly>
                                    <span class="input-group-addon right-radius"><span class="glyphicon glyphicon-th"></span></span>
                                </div>
                                <input type="hidden" id="event-start-time" value="" />
                            </div>
                            <div class="col-md-6 col-sm-6 height-40">
                                <label class="col-sm-3">故障级别:</label>
                                <div class="col-sm-9">
                                    <select class="form-control input-radius" name="issue-level">
                                        <option value="">所有</option>
                                        <option value="1">信息</option>
                                        <option value="2">警告</option>
                                        <option value="3">一般严重</option>
                                        <option value="4">严重</option>
                                        <option value="5">灾难</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="box-footer search-btn">
                            <button type="button" id="search-btn">搜 索</button>
                            <button type="reset" >重 置</button>
                        </div>
                    </form>
                </div>
            </div>

        </div>

        <div class="row search-record">
            <div class="col-md-12">
                <div class="box box-info">
                    <div class="box-body">
                        <table class="table table-hover text-center groups-table">
                            <thead class="groups-head">
                                <tr>
                                    <th>分组</th>
                                    <th>主机名</th>
                                    <th>IP地址</th>
                                    <th>状态</th>
                                    <th>状态发生时间</th>
                                    <th>信息</th>
                                </tr>
                            </thead>
                            <tbody class="groups-body">

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

    </section>
{% endblock %}