{% extends "base.html" %}

{% block contant %}
    <div class="crumb-wrap">
            <div class="crumb-list"><i class="icon-font"></i><a href="/jscss/admin">首页</a><span class="crumb-step">&gt;</span><span class="crumb-name">主机信息</span></div>
    </div>
    <!-- 搜索框 -->
    <div class="search-wrap">
            <div class="search-content">
                <form action="/HostList" method="post">
                    <table class="search-tab">
                        <tr>
                            <th width="70">主机名:</th>
                            <td><input class="common-text" placeholder="关键字" name="keywords" value="" id="" type="text"></td>
                            <td><input class="btn btn-primary btn2" name="sub" value="查询" type="submit"></td>
                            <td style="text-align:right;width:60%"><a href="/Hostlist?a=new" class="list-page">新增主机</a></td>
                        </tr>
                    </table>
                </form>
            </div>
        </div>
    <!-- end 搜索框 -->

    <div class="result-wrap">
            <form name="myform" id="myform" action="/Hostlist" method="post">
                 <div class="result-content">
                    <table class="result-tab" width="100%">
                        <tr>
                            <th class="tc" width="5%"><input class="allChoose" name="" type="checkbox" ></th>
                            <th>主机名</th>
                            <th>外网IP</th>
                            <th>内网IP</th>
                            <th>CPU数</th>
                            <th>磁盘数</th>
                            <th>OS类型</th>
                            <th>OS版本</th>
                            <th>所属组</th>
                            <th>操作</th>
                        </tr>


                        {% for host in Hostlist %}

                         <tr>
                            <td class="tc"><input name="id[]" value="{{ host.id }}" type="checkbox"></td>
                            <td>{{ host.HostName }}</td>
                            <td title="">{{ host.HostNetIpAddr }}</td>
                            <td>{{ host.HostPriIpAddr }}</td>
                            <td>{{ host.CpuCount }}</td>
                            <td>{{ host.DiskCount }}</td>
                            <td>{{ host.OSType }}</td>
                            <td>{{ host.OSVerision }}</td>
                            <td>{{ host.HostGroup.GroupName }}</td>
                            <td>
                                <a class="link-update" href="/Hostlist?a=edit&hid={{ host.id }}">修改</a>
                                <a class="link-del" href="/Hostlist?a=del&id={{ host.id }}" onclick="javascript:if(confirm('确定删除?')==false)return false;">删除</a>
                            </td>
                        </tr>

                        {% endfor %}


                    </table>
                 <div class="result-title">
                    <div class="list-page">
                        <a id="batchDel" href="javascript:void(0)">批量删除</a>
                        <a href="/Hostlist?pagenum=1">首页</a>
                        <a href="/Hostlist?pagenum={{ PageInfo.PageLast }}">上一页</a>
                        当前第 {{ PageInfo.Pagenum }} 页 / 共 {{ PageInfo.TotalPage }} 页
                        <a href="/Hostlist?pagenum={{ PageInfo.PageNext }}">下一页</a>
                        <a href="/Hostlist?pagenum={{ PageInfo.TotalPage }}">末页</a>
                    </div>

                </div>


                </div>
             </form>
    </div>



{% endblock %}