{% extends "base.html" %}

{% block contant %}
        <div class="crumb-wrap">
        <div class="crumb-list"><i class="icon-font"></i><a href="#/">首页</a><span class="crumb-step">&gt;</span><a class="crumb-name" href="/jscss/admin/design/">主机管理</a><span class="crumb-step">&gt;</span><span>新增作品</span></div>
        </div>
        <div class="result-wrap">
            <div class="result-content">
                <form action="/Hostlist" method="post" id="myform" name="myform" enctype="multipart/form-data">
                    <table class="insert-tab" width="100%">
                        <tbody>
                         <tr>
                                <th><i class="require-red">*</i>主机名：</th>
                                <td>
                                    <input class="common-text required" id="hostname" name="hostname" size="50" value="{{ HostModel.HostName }}" type="text">
                                </td>
                         </tr>
                         <tr>
                                <th><i class="require-red">*</i>外网IP：</th>
                                <td>
                                    <input class="common-text required" id="netipaddr" name="netipaddr" size="50" value="{{ HostModel.HostNetIpAddr }}" type="text">
                                </td>
                         </tr>
                         <tr>
                                <th><i class="require-red">*</i>内网IP：</th>
                                <td>
                                    <input class="common-text required" id="priipaddr" name="priipaddr" size="50" value="{{ HostModel.HostPriIpAddr }}" type="text">
                                </td>
                         </tr>
                         <tr>
                                <th><i class="require-red"></i>CPU数：</th>
                                <td>
                                    <input class="common-text required" id="cpucount" name="cpucount" size="50" value="{{ HostModel.CpuCount }}" type="text">
                                </td>
                         </tr>
                         <tr>
                                <th><i class="require-red">*</i>磁盘数量：</th>
                                <td>
                                    <input class="common-text required" id="diskcount" name="diskcount" size="50" value="{{ HostModel.DiskCount }}" type="text">
                                </td>
                         </tr>
                         <tr>
                            <th width="120"><i class="require-red"></i>操作系统：</th>
                            <td>
                                <select name="ostype" id="ostype" class="required">
                                    <option value="">请选择</option>
                                    <option value="windows"{% if HostModel.OSType == 'Windows'%}selected{% endif %} >Windows</option>
                                    <option value="RHEL Linux" {% if HostModel.OSType == 'Linux'%}selected{% endif %}>RHEL Linux</option>
                                    <option value="AIX" {% if HostModel.OSType == 'AIX'%}selected{% endif %}>AIX</option>
                                    <option value="HPUX" {% if HostModel.OSType == 'HPUX'%}selected{% endif %}>HPUX</option>
                                </select>
                            </td>
                        </tr>
                         <tr>
                            <th width="120"><i class="require-red"></i>所属组：</th>
                            <td>
                                <select name="groups" id="groups" class="required">
                                    <option value="">请选择</option>
                                    {% for group in HostGroupList %}
                                        <option value="{{ group.id }}"
                                            {% if HostModel.HostGroup == group%}
                                                selected
                                            {% endif %}>
                                         {{ group.GroupName }}
                                        </option>
                                    {% endfor %}
                                </select>
                            </td>
                        </tr>
                         <tr>
                             <td><input type="hidden" id="hostid" name="hostid" value="{{ HostModel.id }}" > </td>
                         </tr>

                         <tr>
                             <th></th>
                             <td>
                                 <input class="btn btn-primary btn6 mr10" value="提交" type="submit">
                                 <input class="btn btn6" onclick="history.go(-1)" value="返回" type="button">
                             </td>
                         </tr>
                        </tbody></table>
                </form>
            </div>
        </div>





{% endblock %}