{% extends "base.html" %}

{% block contant %}
    <div class="crumb-wrap">
            <div class="crumb-list"><i class="icon-font">&#xe06b;</i><span>欢迎使用自动化运维后台。</span></div>
    </div>
    <div class="result-wrap">
        <div class="result-title">
                <h1>用户基本信息</h1>
        </div>
        <div class="result-content">
            <ul class="sys-info-list">
                    <li>
                        <label class="res-lab">登陆账号</label><span class="res-info">{{ user.Username }}</span>
                    </li>
                    <li>
                        <label class="res-lab">姓名</label><span class="res-info">{{ user.Name }}</span>
                    </li>
                    <li>
                        <label class="res-lab">邮箱</label><span class="res-info">{{ user.Email }}</span>
                    </li>
                    <li>
                        <label class="res-lab">座机</label><span class="res-info">{{ user.Tel }}</span>
                    </li>
                    <li>
                        <label class="res-lab">手机</label><span class="res-info">{{ user.Mobile }}</span>
                    </li>
                    <li>
                        <label class="res-lab">所属组</label><span class="res-info">{{ user.UserGroupID.GroupName }}</span>
                    </li>
            </ul>
        </div>
    </div>
    <<div class="config-items">
          <div class="config-title">
              <h1><i class="icon-font">&#xe014;</i>修改密码</h1>
          </div>
          <div class="result-content">
               <form action="/person" method="post">
                        <table width="100%" class="insert-tab">
                                <tr>
                                    <th><i class="require-red">*</i>新密码：</th>
                                    <td><input type="password" id="newpasswd" value="" size="85" name="newpasswd" class="common-text"></td>
                                </tr>
                                <tr>
                                    <th><i class="require-red">*</i>确认密码：</th>
                                    <td><input type="password" id="confirmpasswd" value="" size="85" name="confirmpasswd" class="common-text"></td>
                                </tr>
                                <tr>
                                    <th></th>
                                    <td>
                                        <input type="hidden" value="siteConf.inc.php" name="file">
                                        <input type="submit" value="提交" class="btn btn-primary btn6 mr10" onclick="javascript:return veridata();">
                                        <input type="button" value="返回" onclick="history.go(-1)" class="btn btn6">
                                    </td>
                                </tr>
                        </table>
               </form>
          </div>
    </div>
<script type="text/javascript">
function veridata(){
    var passwd = $("input[name='newpasswd']").val();
    var confpasswd = $("input[name='confirmpasswd']").val();
    if(passwd == "" || confpasswd == ""){
        alert('密码不能为空');
        return false
    }
    if(passwd != confpasswd){
        alert('两次输入密码不一致!');
        $("input[name='newpasswd']").val("");
        $("input[name='confirmpasswd']").val("");
        $("input[name='newpasswd']").focus();
        return false
    }
    $.post("/person",{'newpasswd':passwd},
            function(data){
                if(data=="success"){
                    alert('密码修改成功,请用新密码重新登陆!');
                    location.href='/person';
                }
            }
    );

}


</script>


{% endblock %}