{% extends 'layout/base.html' %}
{% block extra_css %}
    <link rel="stylesheet" href="/static/css/account/profile.css">
{% endblock %}
{% block extra_js %}
    require(["src/account/account"], function(profile) {
        profile.triggerUserProfile();
    });
{% endblock %}

{% block content-header %}
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">用户信息</li>
    </ol>
{% endblock %}

{% block content %}
    <section id="userprofile" class="content">
        <section id="main-content">
            <section class="">
                <div class="row profile">
                    <aside class="profile-nav col-lg-3">
                        <section class="panel">
                            <div class="user-heading round">
                                <a href="#">
                                    <img src="/static/img/account/{{ request.user.account.avatar }}" alt="">
                                </a>
                                <h1>{{ request.user.account.nickname | capfirst }}</h1>
                                <p>{{ request.user.email }}</p>
                            </div>
                            <ul class="nav nav-pills nav-stacked">
                                <li class="active"><a href="{% url 'profile' %}"> <i class="icon-user"></i> 修改密码</a>
                                </li>
                                <li><a href=""> <i class="icon-calendar"></i> 待办事项 <span
                                        class="label label-danger pull-right r-activity"></span></a></li>
                                <li><a href=""> <i class="icon-edit"></i> 个人信息设置</a></li>
                            </ul>
                        </section>
                    </aside>
                    <aside class="profile-info col-lg-9">

                        <section class="panel">
                            <div class="box box-info">
                                <div class="box-header with-border">
                                    <h3 class="box-title">修改密码</h3>
                                </div>
                                <form class="form-horizontal" id="frm-modifypass">
                                    <div class="box-body">
                                        <div class="form-group">
                                            <label for="password" class="col-sm-2 control-label">新密码</label>
                                            <div class="col-sm-7">
                                                <input type="password" class="form-control" name="password" id="password" placeholder="密码不少于5位">
                                            </div>
                                            <label class="col-sm-3" style="color:red" id="err-passwd"></label>
                                        </div>
                                        <div class="form-group">
                                            <label for="confirmpassword" class="col-sm-2 control-label">确认密码</label>
                                            <div class="col-sm-7">
                                                <input type="password" class="form-control" name="confirmpassword" id="confirmpassword"
                                                       placeholder="确认密码">
                                            </div>
                                            <label class="col-sm-3" style="color:red" id="err-confirmpasswd"></label>
                                        </div>
                                    </div>
                                    <!-- /.box-body -->
                                    <div class="box-footer">
                                        <button type="button" class="btn btn-info pull-right" id="summit-modifypass">修改</button>
                                    </div>
                                    <!-- /.box-footer -->
                                </form>

                        </section>
                    </aside>
                </div>
            </section>
        </section>
    </section>
{% endblock %}